:root {
    font-family: sans-serif;
    background-color: #FFFFFF;
    font-size: 9pt;
}

@media screen,only (min-width: 640) {
    :root {
	font-size: 14pt;
    }
}


/* These rules are used to implement the page switching behavior, as
   the entire app is contained within a single HTML page. <page>
   elements are invisible by default, so these rules show a given page
   when it matches the body's curView attribute. */

body[curView="loginView"] #loginView {
    display: block;
}

body[curView="managerView"] #managerView {
    display: block;
}

body[curView="listView"] #listView {
    display: block;
}


/* The body of this document is subdivided into several <page>
   elements. These in turn have the following structure:

   - <header> (optional)
   - <content> (reqiured if <header> or <button-bar> present)
   - <button-bar> (optional)

   The header and button bar are anchored to top and bottom of the
   page, respectively. Since content will render under them in the Z
   order, the :before and :after pseudo-elements are used to pad
   it. We also add drop shadows with a slightly different color for
   header and footer to simualte an inset shadow. */

page {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: small;
    box-shadow: 0.05em 0.1em .2em .1em black;
}

button-bar {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #CCCCCC;
    padding: 10px;
    box-shadow: 0.05em 0.05em 0.2em .1em silver;
}

content:before {
    display: block;
    padding: 20px;
    font-size: small;
    content: " ";
}

content:after {
    display: block;
    padding: 30px;
    margin-top: 10px;
    font-size: 1rem;
    content: " ";
}


/* These rules give the basic styling for the interactive elements. */

push-button, toggle-button {
    border: hidden;
    background-color: white;
    padding: 10;
    margin: 5;
    float: left;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 5px;
}

push-button:active, toggle-button:active {
    background-color: black;
    color: white;
}

.listItem {
    padding: 10;
    font-size: 1rem;
    margin: 5px;
    background-color: #CCCCCC;
}

.listItem:active {
    background-color: #AAAAAA;
}

.listItem:focus {
    background-color: #EEEEEE;
    border: hidden;
}

.listItem[completed=true] {
    color: grey;
    text-decoration: line-through;
}

.destroy {
    display: inline-block;
    color: grey;
    background-color: white;
    margin-right: 0.5em;
    border-radius: 0.25em;
    padding: 0.25em;
    cursor: pointer;
    user-select: none;
}

.destroy:active {
    color: white;
    background-color: black;
}


/* These rules handle "completed" list items. There's some tricky
   logic here:

   - When completed items are visible, show them as greyed and crossed
     out. 
   - When we are editing the list, make completed items visible.
   - When we are not editing the list, only show completed items when
     showCompleted is true. */

editable-list[editable="true"] .listItem[contentEditable="false"] {
    color: grey;
    cursor: progress;
}

editable-list[editable="true"] .listItem[contentEditable="false"]:after {
    margin-left: 5px;
    font-size: 6pt;
    content: "Updating...";
    vertical-align: middle;
}

editable-list[editable="false"][showCompleted="false"] .listItem[completed=true] {
    display:none;
}


/* These rules control the visibility of certain controls in #listView.
   - #drop, #new are only visible in editing mode
   - #show is only visible when not in editing mode */

#listView[editing="false"] #drop {
    display: none;
}

#listView[editing="false"] #new {
    display: none;
}

#listView[editing="true"] #show {
    display: none;
}


/* Ad-hoc rules for the loginView */

input {
    right: 0;
    font-size: 1rem;
    margin: 0px;
    width: 8em;
    border: 1px solid black;
    padding: 3px;
}


#loginControls row {
    display: block;
    width: auto;
    padding: 10px;
}

label {
    float: left;
    clear: left;
    width: 5em;
    text-align: right;
}

#loginControls {
    text-align: center;
    display: block;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 15em;
    height: 10em;
}

#doLogin {
    background-color: #CCCCCC;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 5px;
}

#doLogin:active {
    background-color: black;
    color: white;
}


#loginview {
    vertical-align: middle;
    text-align: center;
}