:root {
    font-family: sans-serif;
    background-color: #FFFFFF;
    font-size: 9pt;
}

@media screen,only (min-width: 640) {
    :root {
	font-size: 14pt;
    }
}

.hidden {
    display: none;
}

input {
    border: hidden;
    font-size: 1rem;
    margin: 0px;
    width: auto;
}

#loginview {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#loginview table {
    height: 4em;
    background-color: #CCCCCC;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: right;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
}

#doLogin {
    background-color: #CCCCCC;
    padding: 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#doLogin:hover {
    background-color: grey;
}

#doLogin:active {
    background-color: black;
    color: white;
}

#managerView div {
    
}

#screen {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 100px;
}

#list {
    width: 100%;
    height: 100%;
}

#controls {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 1rem;
    background-color: #CCCCCC;
    padding: 10px;
}

.todoButton {
    border: hidden;
    background-color: white;
    padding: 10;
    margin: 5;
    float: left;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.todoButton:hover {
    background-color: grey
}

.todoButton:active {
    background-color: black;
    color: white;
}

.listItem {
    padding: 10;
    font-size: 1rem;
    margin: 5px;
    background-color: #CCCCCC;
}

.listItem:hover {
    background-color: #AAAAAA;
}

.listItem:focus {
    background-color: #EEEEEE;
    border: hidden;
}

.listItem[contentEditable="false"] {
    color: grey;
    cursor: progress;
    content: "Updating...";
}

.listItem[contentEditable="false"]:after {
    margin-left: 5px;
    font-size: 6pt;
    content: "Updating...";
    vertical-align: middle;
}

.completed {
    text-decoration: line-through;
}