:root {
    font-family: sans-serif;
    background-color: #FFFFFF;
    font-size: 9pt;
}

@media screen,only (min-width: 640) {
    :root {
	font-size: 14pt;
    }
}

.hidden {
    display: none;
}

input {
    border: hidden;
    font-size: 1rem;
    margin: 0px;
    width: auto;
}

page {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

body[curView="loginView"] #loginView {
    display: block;
}

#loginview table {
    height: 4em;
    background-color: #CCCCCC;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: right;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
}

#doLogin {
    background-color: #CCCCCC;
    padding: 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#doLogin:hover {
    background-color: grey;
}

#doLogin:active {
    background-color: black;
    color: white;
}

#managerView {
    display: none;
}

body[curView="managerView"] #managerView {
    display: block;
}

#listView {
    display: none;
}

body[curView="listView"] #listView {
    display: block;
}

#screen {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 100px;
}

#list {
    width: 100%;
    height: 100%;
}

#controls {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 1rem;
    background-color: #CCCCCC;
    padding: 10px;
}

push-button, toggle-button {
    border: hidden;
    background-color: white;
    padding: 10;
    margin: 5;
    float: left;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

push-button:hover, toggle-button:hover {
    background-color: grey
}

push-button:active, toggle-button:active {
    background-color: black;
    color: white;
}

.listItem {
    padding: 10;
    font-size: 1rem;
    margin: 5px;
    background-color: #CCCCCC;
}

.listItem:hover {
    background-color: #AAAAAA;
}

.listItem:focus {
    background-color: #EEEEEE;
    border: hidden;
}

.listItem[completed=true] {
    color: grey;
    text-decoration: line-through;
}

editable-list[editable="true"] .listItem[contentEditable="false"] {
    color: grey;
    cursor: progress;
}

editable-list[editable="true"] .listItem[contentEditable="false"]:after {
    margin-left: 5px;
    font-size: 6pt;
    content: "Updating...";
    vertical-align: middle;
}

editable-list[editable="false"][showCompleted="false"] .listItem[completed=true] {
    display:none;
}

#listView[editing="false"] #drop {
    display: none;
}

#listView[editing="false"] #new {
    display: none;
}

#listView[editing="true"] #show {
    display: none;
}

.destroy {
    display: inline-block;
    color: grey;
    background-color: white;
    margin-right: 0.5em;
    border-radius: 0.25em;
    padding: 0.25em;
    cursor: pointer;
    user-select: none;
}

.destroy:hover {
    color: black;
}

.destroy:active {
    color: white;
    background-color: black;
}